body {
    max-width: 55vw;
}

.md img {
    max-height: 600px;
}

.md div.title {
    padding-top: 20px;
    padding-bottom: 5px;
}

.md div.subtitle {
    font-size: 15px;
    padding-bottom: 5px;
}